@using PersianAssistant.Extensions
@model Live_Book.Application.DTOs.AiChat.AiChatDashboardDto
@if (Model.AiChatLogsCount == 0)
{
	<div class="alert alert-info">
		<p>رکوردی برای نمایش یافت نشد</p>
	</div>
}
else
{
	<div class="col-6 mb-3">
		<label class="">
			تعداد رکوردها :
			@Model.AiChatLogsCount
		</label> |
		<label class="">
			مجموع هزینه ها :
			@(Math.Round(Model.AiChatLogsTotalCost, 4))<i class="fa fa-dollar"></i>
		</label>
	</div>
	<div class="scrolable-table-holder">
		<table class="table table-hover sortable" id="AiChatLog" data-form="AiChatLogsFilterForm" data-input="AiChatLogsOrderBy" data-sortstr="@Model.OrderBy">
			<thead>
				<tr>
					<th data-sort="Name" class="mouse-pointer">
						@Html.DisplayNameFor(model => model.AiChatLogs[0].Name)
					</th>
					<th data-sort="Book" class="mouse-pointer">
						@Html.DisplayNameFor(model => model.AiChatLogs[0].Book)
					</th>
                    <th data-sort="Part" class="mouse-pointer">
                        @Html.DisplayNameFor(model => model.AiChatLogs[0].Part)
                    </th>
                    <th>
						@Html.DisplayNameFor(model => model.AiChatLogs[0].Ai)
                    </th>
                    <th>
						@Html.DisplayNameFor(model => model.AiChatLogs[0].AiModel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AiChatLogs[0].Version)
                    </th>
					<th>
						@Html.DisplayNameFor(model => model.AiChatLogs[0].UserMessage)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.AiChatLogs[0].AiResponse)
					</th>
					<th data-sort="Date" class="mouse-pointer">
						@Html.DisplayNameFor(model => model.AiChatLogs[0].Date)
					</th>
					<th data-sort="Cost" class="mouse-pointer">
						@Html.DisplayNameFor(model => model.AiChatLogs[0].Cost)
					</th>
					<th data-sort="AiCouldResponse" class="mouse-pointer">
						@Html.DisplayNameFor(model => model.AiChatLogs[0].AiCouldResponse)
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var chat in Model.AiChatLogs)
				{
					<tr>
						<td>
							@(chat?.Name ?? "-")
						</td>
						<td>
							@(chat?.Book ?? "-")
						</td>
                        <td>
                            @(chat?.Part ?? "-")
                        </td>
                        <td>
                            @(chat?.Ai ?? "-")
                        </td>
                        <td>
                            @(chat?.AiModel ?? "-")
                        </td>
                        <td>
                            @(chat?.Version ?? "-")
                        </td>
						<td>
							@(chat?.UserMessage ?? "-")
						</td>
						<td style="max-width:600px;">
							@(chat?.AiResponse ?? "-")
						</td>
						<td>
							@(chat?.Date.ToPersianDateTime())
						</td>
						<td>
							@(Math.Round(chat?.Cost ?? 0, 4))
						</td>
						<td>
							@if (chat.AiCouldResponse)
							{
								<i class="fa fa-check text-success"></i>
							}
							else
							{
								<i class="fa fa-exclamation text-danger"></i>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
