@using Ai_Panel.Application.DTOs
@model FindAdminActionData
@{
    AdminPostUserModel User = null;
    AdminPostUserModel PreviousUser = null;
    AdminPostAdminModel Admin = null;
    AdminPostAdminModel previousAdmin = null;
    if (Model.TypeId == 1)
    {
        User = ViewBag.Data;
        PreviousUser = ViewBag.dataPrevious;
    }
    if (Model.TypeId == 3)
    {
        Admin = ViewBag.Data;
        previousAdmin = ViewBag.dataPrevious;
    }
}
@if (Model.TypeId == 1)
{
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <div class="card-body">
        <section class="card-text">
            <form>
                <div class="row mb-3">
                    <div class="col-lg-12 col-md-12 col-12">
                        @if (Model.Action == "ویرایش")
                        {
                            <div class="">
                                <label asp-for="@User.FirstName" class=""></label> قبلی :
                                <input asp-for="@PreviousUser.FirstName" class="form-control" disabled="disabled" />
                            </div>
                        }
                        <div class="mb-4">
                            <label asp-for="@User.FirstName" class=""></label> وارد شده :
                            <input asp-for="@User.FirstName" class="form-control" disabled="disabled" />
                        </div>

                        @if (Model.Action == "ویرایش")
                        {
                            <div class="">
                                <label asp-for="@User.LastName" class="mt-2"></label> قبلی :
                                <input asp-for="@PreviousUser.LastName" class="form-control" disabled="disabled" />
                            </div>
                        }
                        <div class="mb-4">
                            <label asp-for="@User.LastName" class="mt-2"></label> وارد شده :
                            <input asp-for="@User.LastName" class="form-control" disabled="disabled" />
                        </div>

                        @if (Model.Action == "ویرایش")
                        {
                            <div class="">
                                <label asp-for="@User.HelliCode" class="mt-2"></label> قبلی :
                                <input type="tel" asp-for="@PreviousUser.HelliCode" class="form-control" autocomplete="off" disabled="disabled" />
                            </div>
                        }
                        <div class="mb-4">
                            <label asp-for="@User.HelliCode" class="mt-2"></label> وارد شده :
                            <input type="tel" asp-for="@User.HelliCode" class="form-control" autocomplete="off" disabled="disabled" />
                        </div>

                        @if (Model.Action == "ویرایش")
                        {
                            <div class="">
                                <label asp-for="@User.MobileNumber" class="mt-2"></label> قبلی :
                                <input type="tel" asp-for="@PreviousUser.MobileNumber" class="form-control" autocomplete="off" disabled="disabled" />
                            </div>
                        }
                        <div class="mb-4">
                            <label asp-for="@User.MobileNumber" class="mt-2"></label> وارد شده :
                            <input type="tel" asp-for="@User.MobileNumber" class="form-control" autocomplete="off" disabled="disabled" />
                        </div>

                        @if (Model.Action == "ویرایش")
                        {
                            <div class="mb-1">
                                <label asp-for="@User.Grade" class=""></label> قبلی :
                                <select asp-for="@PreviousUser.Grade" class="form-select " asp-items="ViewBag.Grades" disabled="disabled">
                                </select>
                            </div>
                        }
                        <div class="mb-4">
                            <label asp-for="@User.Grade" class=""></label> وارد شده :
                            <select asp-for="@User.Grade" class="form-select" asp-items="ViewBag.Grades" disabled="disabled">
                            </select>
                        </div>

                        @if (Model.Action == "ویرایش")
                        {
                            <div class="mb-1">
                                <label asp-for="@User.Gender" class=""></label> قبلی :
                                <select asp-for="@PreviousUser.Gender" class="form-select " asp-items="ViewBag.Genders" disabled="disabled">
                                </select>
                            </div>
                        }
                        <div class="mb-4">
                            <label asp-for="@User.Gender" class=""></label> وارد شده :
                            <select asp-for="@User.Gender" class="form-select mt-1" asp-items="ViewBag.Genders" disabled="disabled">
                            </select>
                        </div>

                        @if (Model.Action == "ویرایش")
                        {
                            <input type="hidden" value="@ViewBag.SelectedBooks" id="LastPreviousSelectedBooks" />
                            <div class="mb-5">
                                <label class="">کتاب های مجاز قبلی : </label>
                                <select asp-for="@PreviousUser.BooksId" name="selectedBook" asp-items="ViewBag.Books" class="form-control js-example-basic-multiple ">
                                </select>
                            </div>
                        }
                        <input type="hidden" value="@ViewBag.SelectedBooks" id="LastSelectedBooks" />
                        <div class="">
                            <label class="mt-5">کتاب های مجاز وارد شده : </label>
                            <select asp-for="@User.BooksId" name="selectedBook" asp-items="ViewBag.Books" class="mt-2 form-control js-example-basic-multiple ">
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    @section Scripts
    {
    <script>
        var SelectedBooks = $("#LastSelectedBooks").val();
        if (SelectedBooks !== undefined && SelectedBooks !== "" && SelectedBooks !== null) {
            var selected = SelectedBooks.split(',');
            $('#User_BooksId').val(selected);
            $('#User_BooksId').trigger('change');
        }

        var PreviousSelectedBooks = $("#LastPreviousSelectedBooks").val();
        if (PreviousSelectedBooks !== undefined && PreviousSelectedBooks !== "" && PreviousSelectedBooks !== null) {
            var selected = SelectedBooks.split(',');
            $('#PreviousUser_BooksId').val(selected);
            $('#PreviousUser_BooksId').trigger('change');
        }

    </script>
    }
}
@if (Model.TypeId == 3)
{
    <form>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-12 mb-2">
                @if (Model.Action == "ویرایش")
                {
                    <div class="">
                        <label class="">نام کاربری قبلی : </label>
                        <input asp-for="@previousAdmin.UserName" class="form-control" autocomplete="off" disabled="disabled" />
                    </div>
                }
                <div class="mb-4">
                    <label class="">نام کاربری وارد شده : </label>
                    <input asp-for="@Admin.UserName" class="form-control" autocomplete="off" disabled="disabled" />
                </div>


                @if (Model.Action == "ویرایش")
                {
                    <div class="">
                        <label class="">ایمیل قبلی : </label>
                        <input asp-for="@previousAdmin.Email" class="form-control" autocomplete="off" disabled="disabled" />
                    </div>
                }
                <div class="mb-4">
                    <label class="">ایمیل وارد شده : </label>
                    <input asp-for="@Admin.Email" class="form-control " disabled="disabled" />
                </div>

                @if (Model.Action == "ویرایش")
                {
                    <div class="">
                        <label asp-for="@Admin.RoleId" class="">نقش قبلی : </label>
                        <select asp-for="@previousAdmin.RoleId" class="form-select" disabled="disabled" asp-items="@ViewBag.Roles">
                            <option disabled selected value="@previousAdmin.RoleId"></option>
                        </select>
                    </div>
                }
                <div class="mb-4">
                    <label asp-for="@Admin.RoleId" class="">نقش وارد شده : </label>
                    <select asp-for="@Admin.RoleId" class="form-select" disabled="disabled" asp-items="@ViewBag.Roles">
                        <option disabled selected value="@Admin.RoleId"></option>
                    </select>
                </div>
            </div>
        </div>
    </form>
}

