@* @using Ai_Panel.Application.Constants
@model IEnumerable<Ai_Panel.Domain.AboutUs>

@{
    ViewData["Title"] = "درباره ما";
}

<div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-12 col-12 mt-3">
        <div class="card shadow">
            <h6 class="card-header">درباره ما </h6>
            @if (ViewBag.HasAboutUs == "")
            {
                <div class="col-4 mt-3 me-3">
                    <a class="btn btn-outline-success btn-sm" onclick="Add()">
                        <i class="fa fa-plus"></i>
                        ایجاد درباره ما
                    </a>
                </div>
            }
            <div class="card-body">
                <div class="table table-responsive table-radius">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descreption)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageName)
                                </th>
                                <th>
                                    عملیات
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <div style="white-space: nowrap;width: 85px;overflow: hidden;text-overflow:ellipsis;">
                                            @item.Descreption
                                        </div>

                                    </td>
                                    <td>
                                        <img src="@ImagePath.AboutUs@item.ImageName" class="img-thumbnail" alt="عکسی انتخاب نشده است" width="80" height="60">
                                    </td>
                                    <td>
                                        <a class="btn btn-sm" onclick="Edit(@item.Id)">
                                            <i class="fa fa-edit text-warning"></i>
                                        </a>
                                        @if (item.ImageName != null)
                                        {
                                            <a class="btn btn-danger btn-sm" href="/Admin/AboutUs/Delete/@item.Id">
                                                حذف تصویر
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_Modal"/>
@section Scripts
    {
    <script>
        function Add() {
            $.ajax({
                url: "/Admin/AboutUs/Add/",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#Modal-lg').modal('show');
                $('#Modal-lg-Label').html('افزودن درباره ما');
                $('#Modal-lg-Body').html(result);
            });
        }
        function Edit(Id) {
            $.ajax({
                url: "/Admin/AboutUs/Edit/" + Id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#Modal-lg').modal('show');
                $('#Modal-lg-Label').html('ویرایش درباره ما');
                $('#Modal-lg-Body').html(result);
            });
        }
    </script>
} *@